node_modules/
!app/react-ui/node_modules/
!app/react-ui/node_modules/vite/
!app/react-ui/node_modules/vite/index.js
!app/react-ui/node_modules/vite/package.json
target/
_out/
gen/

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Runtime logs
cds-watch.log

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models